@font-face {
    font-family: "champagne-limousine";
    src: url('../fonts/champagneregular/champagnelimousines-webfont.eot');
    src: url('../fonts/champagneregular/champagnelimousines-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/champagneregular/champagnelimousines-webfont.woff2') format('woff2'),
    url('../fonts/champagneregular/champagnelimousines-webfont.woff') format('woff'),
    url('../fonts/champagneregular/champagnelimousines-webfont.ttf') format('truetype'),
    url('../fonts/champagneregular/champagnelimousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "champagne-limousine-bold";
    src: url('../fonts/champagnebold/champagnelimousinesbold-webfont.eot');
    src: url('../fonts/champagnebold/champagnelimousinesbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/champagnebold/champagnelimousinesbold-webfont.woff2') format('woff2'),
    url('../fonts/champagnebold/champagnelimousinesbold-webfont.woff') format('woff'),
    url('../fonts/champagnebold/champagnelimousinesbold-webfont.ttf') format('truetype'),
    url('../fonts/champagnebold/champagnelimousinesbold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html, p{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
}

.clear{
    clear: both;
}

.header_droit{
    width: 50%;
    height: 100px;
    float: left;
    margin-left: 0px;
}

.header_gauche{
    width: 50%;
    height: 100px;
    float: left;
}

#logo_header{
    display: block;
    width: 163px;
    height: 64px;
    margin-top: 18px;
    margin-left: 20px;
    background-image: url('../img/sprite.png');
    background-position: 231px -200px;
}

#logo_header span{
    display: inline-block;
    text-indent: -5000px;
}

#user_menu{
    display: block;
    float: right;
    margin-right: 0px;
    margin-top: 30px;
}

#user_menu a{
    font-family: champagne-limousine, sans-serif;
    color: #303030;
    text-decoration: none;
    font-size: 1.4em;
    color: #303030;
    margin-right: 25px;
}

#user_menu a:hover{
    color: #15b5f1;
}

.trait_separateur_bleu{
    width: 100%;
    height: 5px;
    background-color: #15b5f1;
}

.conteneur{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.contenu{
    min-height: 600px;
    margin-top: 25px;
}

.blocBlanc{
    width: 100%;
    font-family: champagne-limousine, sans-serif;
    font-size: 2.6em;
    text-align: center;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop40{
    margin-top: 40px !important;
}

.marginLeft50{
    margin-left: 50px;
}

.btnSearchAdd{
    display: block;
    width: 300px;
    float: left;
    margin-left: 141px;
    margin-top: 15px;
    font-size: 0.6em !important;
}

#btnSearchSalleAccueil{
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/sprite.png');
    background-position: 0px -200px;
}

#btnSearchSalleAccueil:hover{
    background-image: url('../img/sprite.png');
    background-position: 0px -335px;
}

#btnSearchSalleAccueil span{
    display: inline-block;
    text-indent: -5000px;
}

#btnAddSalleAccueil{
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/sprite.png');
    background-position: -134px -200px;
}

#btnAddSalleAccueil:hover{
    background-image: url('../img/sprite.png');
    background-position: -134px -335px;
}

#btnAddSalleAccueil span{
    display: inline-block;
    text-indent: -5000px;
}

.blocGris{
    width: 100%;
    min-height: 150px;
    font-family: champagne-limousine, sans-serif;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: #303030;
}

.blocGris h2{
    color: #15b5f1;
    font-size: 2.6em;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
}

.zoneAnnonce{
    width: 950px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.blocAnnonce{
    width: 198px;
    height: 350px;
    float: left;
    border: 1px solid #555555;
    border-radius: 5px;
    position: relative;
}

.blocAnnonce img{
    width: 198px;
}

.blocAnnonce h4{
    color: #15b5f1;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blocAnnonce h5{
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blocAnnonce p{
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.btnAnnonce{
    display: block;
    width: 200px;
    margin-left: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #15b5f1;
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btnAnnonce:hover{
    background-color: #0199d2;
}

.btnAnnonce a{
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.connectYou{
    font-size: 0.8em !important;
}

.blocIconSociaux{
    width: 620px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#facebook{
    width: 100px;
    height: 100px;
    float: left;
    background-image: url('../img/sprite.png');
    background-position: 0px -100px;
}

#facebook:hover{
    background-position: 0px 0px;
}

#facebook span{
    display: inline-block;
    text-indent: -5000px;
}

#viadeo{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -400px -100px;
}

#viadeo:hover{
    background-position: -400px 0px;
}

#viadeo span{
    display: inline-block;
    text-indent: -5000px;
}

#twitter{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -300px -100px;
}

#twitter:hover{
    background-position: -300px 0px;
}

#twitter span{
    display: inline-block;
    text-indent: -5000px;
}

#linkedin{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -200px -100px;
}

#linkedin:hover{
    background-position: -200px 0px;
}

#linkedin span{
    display: inline-block;
    text-indent: -5000px;
}

#googleplus{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -100px -100px;
}

#googleplus:hover{
    background-position: -100px 0px;
}

#googleplus span{
    display: inline-block;
    text-indent: -5000px;
}

.zoneContact{
    width: 90%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blocContact{
    width: 50%;
    min-height: 150px;
    float: left;
    text-align: center;
}

.textContact{
    font-size: 0.8em !important;
}

.asterix{
    font-size: 0.3em;
}

#btnContact{
    display: block;
    width: 300px;
    background-color: #15b5f1;
    color: #ffffff;
    font-size: 0.5em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-decoration: none;
}

#btnContact:hover{
    background-color: #0199d2;
}

.traitFormInscr{
    width: 486px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a1a1a1;
    margin-top: 10px;
}

.btnValidationInscription{
    display: block;
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #15b5f1;
    border: none;
    color:#ffffff;
    font-size: 1em;
    font-family: champagne-limousine, sans-serif;
}

.btnValidationInscription:hover{
    background-color: #0199d2;
}

.backLeftFormInscr{
    width: 450px;
    height: 550px;
    background-color: #15b5f1;
    float: left;
    margin-top: 30px;
}

.leftFormInfo{
    width: 448px;
    height: 182px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    font-size: 2em;
}

.hautFormInscr{
    width: 100%;
    height: 128px;
    background-image: url('../img/bandeauforminscr.png');
}

.publeft{
    width: 135px;
    height: 135px;
    float: left;
    margin-top: 23px;
}

.pubright{
    width: 313px;
    height: 182px;
    float: left;
    text-align: center;
}

.pubright p{
    width: 307px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.backForm{
    width: 548px;
    height: 550px;
    border: 1px solid #c1c1c1;
    opacity: 1;
    float: left;
    margin-left: 24px;
    margin-top: 30px;
}

.backForm h1{
    background-color: #15b5f1;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.formInscription{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    font-family: champagne-limousine, sans-serif;
}

.groupForm{
    width: 100%;
    height: 15px;
    display: block;
    margin-top: 10px;
}

.groupForm select{
    width: 310px;
    margin-left: 0px;
}

.labelFormInscr{
    display: block;
    width: 180px;
    float: left;
    margin-left: 10px;
    color: #303030;
}

.inputFormInscr{
    display: block;
    width: 300px;
    height: 20px;
    font-size: 1em;
    float: left;
    border-style: none;
    background-color: #f7f7f7;
    font-family: Arial;
    color: #777777;
}

.titreFormInscr{
    font-family: champagne-limousine, sans-serif;
    text-align: center;
}

footer{
    height: 150px;
    width: 100%;
    margin-top: 50px;
    background-color: #303030;
}

.footerLeft{
    width: 340px;
    height: 150px;
    float: left;
    text-align: center;
}

.logoFooter{
    width: 121px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-image: url("../img/sprite.png");
    background-position: -264px -270px;
}

.footerLeft p{
    color: #ffffff;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    margin-top: 10px;
    font-size: 0.8em;
}

.footerLeft a{
    text-decoration: none;
    font-family: champagne-limousine, sans-serif;
    color: #ffffff;
    font-size: 0.8em;
}

.footerRight{
    width: 684px;
    height: 150px;
    float: left;
}

.blocHautFooter{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.blocHautFooter a{
    display: inline-block;
    color: #b0b0b0;
    text-decoration: none;
    font-family: champagne-limousine, sans-serif;
}

.blocBasFooter a{
    color: #b0b0b0;
    text-decoration: none;
    font-family: champagne-limousine, sans-serif;
}

.blocBasFooter{
    color: #b0b0b0;
    text-align: center;
    margin-top: 20px;
    font-family: champagne-limousine, sans-serif;
}

.footerRight a:hover{
    color: #15b5f1;
}

.msg{
    width: 100%;
    min-height: 60px;
}

.msgSuccess{
    width: 1024px;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    font-family: Arial;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #3c763d;
}

.msgWarning{
    width: 1024px;
    border-radius: 5px;
    background-color: #fcf8e3;
    color: #8a6d3b;
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #8a6d3b;
    margin-bottom: 10px;
}

.msgAlert{
    width: 1024px;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a9445d;
    font-family: Arial;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #a9445d;
    margin-bottom: 10px;
}

.msgInfo{
    width: 1024px;
    border-radius: 5px;
    background-color: #d9edf7;
    color: #31708f;
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.loupeFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/sprite.png');
    background-position: 0px -335px;
}

.sourieFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/sourie.png');
}

.paiementFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/paiement.png');
}

.formConnect{
    width: 100%;
    font-family: champagne-limousine, sans-serif;
}

.formConnect label{
    display: block;
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

.formConnect input{
    display: block;
    width: 500px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1em;
    font-family: arial, sans-serif;
}

.menuUserConnected{
    width: 100%;
    height: 32px;
    background-color: #15b5f1;
    margin-top: -17px;
}

.menuUserConnected .conteneur ul{
    padding: 0;
    margin-top: -7px;
}

.menuUserConnected .conteneur ul li{
    list-style-type: none;
    float: left;
    width: 200px;
    text-align: center;
}

.menuNotConnected{
    width: 250px !important;
}

.menuUserConnected .conteneur ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5.5px;
    display: block;

    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
    margin-top: -3px;
}
.menuUserConnected .conteneur ul li a:hover{
    background-color: #0199d2;
}
.ficheContenair{
    width: 100%;
}

.ficheContenairLeft{
    width: 450px;
    float: left;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
}

.ficheContenairLeft img{
    width: 450px;
    float: left;
    border-radius: 5px;
    border: 1px solid #303030;
}

.ficheContenairRight{
    width: 547px;
    font-family: champagne-limousine, sans-serif;
    float: left;
    margin-left: 25px;
}

.ficheContenairRightTop{
    width: 100%;
    display: block;
    min-height: 175px;
    border-bottom: 1px solid #15b5f1;
}

.ficheContenairRightMiddle{
    width: 100%;
    min-height: 100px;
    display: block;
}
.ficheContenair h1{
    width: 100%;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-size: 2em;
    font-weight: 400;
    border-bottom: 1px solid #15b5f1;
}

.info{
    width: 100%;
}

.info tr{
    width: 100%;
}

.infoLibelle{
    width: 90px;
}

.infoValeur{
    width: 200px;
}

.btnAddPanier{
    width: 100%;
    height: 40px;
    background-color: #15b5f1;
    color: #ffffff;
    font-size: 1.3em;
    font-family: champagne-limousine, sans-serif;
    border: none;
}

.btnAddPanier:hover{
    background-color: #0199d2;
}

.blocAvis{
    widows: 100%;
    min-height: 200px;
    display: block;
    margin-top: 20px;
}

.blocAvis h2{
    width: 100%;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin-top: 10px;
}

.blocAvisLeft{
    width: 500px;
    float: left;
    min-height: 200px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.blocAvisLeft label{
    display: block;
    width: 90%;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.blocAvisLeft input{
    display: block;
    width: 90%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #303030;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.blocAvisLeft textarea{
    display: block;
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.blocAvis Select{
    margin-left: 20px;
    margin-top: 10px;
}

.btnAvis{
    display: block;
    width: 80%;
    height: 30px !important;
    border: none;
    background-color: #15b5f1;
    color: #ffffff !important;
    font-family: champagne-limousine, sans-serif !important;
    font-size: 1.2em !important;
    margin-top: 20px !important;
    margin-bottom: 10px;
}

.btnAvis:hover{
    background-color: #0199d2;
}

.blocAvisRight{
    width: 495px;
    height: 350px;
    overflow: auto;
    float: left;
    margin-left: 18px;
    border-left: 1px solid #aaaaaa;
    margin-bottom: 10px;
}

.headAvis{
    width: 90%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.titreAvis{
    width: 70%;
    margin-left: 0;
    float: left;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left !important;@
}

.noteAvis{
    width: 5%;
    margin-left: 10%;
    float: left;
    text-align: right !important;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.commentaireAvis{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-family: champagne-limousine, sans-serif;
}

.infoAvis{
    display: block;
    width: 90%;
    height: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.autheurAvis{
    width: 50%;
    margin-left: 0;
    float: left;
    text-align: left;
    font-family: champagne-limousine, sans-serif;
    font-size: 0.8em;
}

.dateAvis{
    width: 30%;
    float: left;
    margin-left: 20%;
    text-align: right;
    font-family: champagne-limousine, sans-serif;
    font-size: 0.8em;
}

.contenairList{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.blocSalle{
    width: 180px;

    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #acacac;
}

.titreBlocSalle{
    width: 100%;
    height: 20px;
    margin-top: 5px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
}

.imgBlocSalle{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.imgBlocSalle img{
    width: 180px;
}

.infoBlocSalle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #555555;
    font-family: champagne-limousine, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
}

.btnBlocSalle{
    width: 100%;
}

.btnSalle{
    display: block;
    width: 182px;
    margin-left: -1px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    margin-top: 14px;
    color: #ffffff;
    background-color: #15b5f1;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.btnSalle:hover{
    background-color: #0199d2;
}

.cellBlocSalle{
    width: 60px;
}

.titrePageSalle{
    font-family: champagne-limousine, sans-serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.blocFicheSalle{
    width: 100%;
}

.ficheSalleLeft{
    width: 500px;
    float: left;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
}

.ficheSalleLeft a img{
    width: 500px;
}

.ficheSalleRight{
    width: 500px;
    height: 300px;
    float: left;
    margin-left: 24px;
}
.ficheSalleRight p{
    width: 500px;
    height: 240px;
}

.ficheSalleRight table{
    display: block;
    width: 500px;
    font-family: champagne-limousine, sans-serif;
}

.traitSeparateurBleu2px{
    width: 100%;
    height: 2px;
    background-color: #15b5f1;
}

.textInfo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: champagne-limousine, sans-serif;
}

.sousTitre{
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.textCenter{
    text-align: center;
}

.formContact{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formContact label{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    font-family: champagne-limousine, sans-serif;
}

.formContact input{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formContact textarea{
    display: block;
    min-width: 80%;
    max-width: 80%;
    min-height: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.btnFormContact{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1em;
    color: #ffffff;
    background-color: #15b5f1;
    border: none;
}

.btnFormContact:hover{
    background-color: #0199d2;
}

.tabCompte{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tabCompte tr{
    width: 500px;
    height: 30px;
}

.tabCompteLabel{
    width: 200px;
    font-family: champagne-limousine, sans-serif;
}

.tabCompteInfo{
    width: 300px;
}

.btnModifPassword{
    width: 300px;
    background-color: #15b5f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    text-decoration: none;
}

.btnModifPassword:hover{
    background-color: #0199d2;
}

.panier .panierTable{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.panier .panierTable tr{
    display: block;
    border-bottom: 1px solid #d4d4d4;
    margin-top: ;
}

.panier .panierTable tr th{
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-weight: 100;
    font-size: 1.2em;
}

.panierImg img{
    width: 120px;
    border-radius: 5px;
    border: 1px solid #555555;
}

.panierTitre{
    width: 650px;
    padding-left: 50px;
    font-family: champagne-limousine, sans-serif;
}

.panierPrix{
    width: 80px;
    font-family: champagne-limousine, sans-serif;
}

.panierThPhoto{
    width: 120px;
}

.panierThTitre{
    width: 670px;
}

.panierThPrix{
    width: 80px;
}

.panierThSuppr{
    width: 30px;
}

.tablePrix{
    width: 230px;
    float: right;
    margin-right: 65px;
    font-family: champagne-limousine, sans-serif;
}

.tablePrix tr{
    display: block;
    border-bottom: 1px solid #d4d4d4;
}

.tablePrixTr{
    width: 110px;
}

.tablePrixTotal{
    width: 120px;
}

.btnSupprArticlePanier{
    width: 30px;
    height: 39px;
    background-image: url("../img/trash.png");
    background-position: 0px 0px;
    border: none;
}

.btnSupprArticlePanier:hover{
    background-position: 0px -39px;
}

.btnClearPanier{
    width: 400px;
    margin-left: 62px;
    float: left;
    border: none;
    background-color: #15b5f1;
    color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnClearPanier:hover{
    background-color: #0199d2;
}

.btnValidPanier{
    width: 400px;
    float: left;
    margin-left: 100px;
    border: none;
    background-color: #15b5f1;
    color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnValidPanier:hover{
    background-color: #0199d2;
}

.formRecherche{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.formRecherche label{
    display: block;
    margin-top: 20px;
    width: 800px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
    text-align: center;
}

.inputFormRecherche{
    display: block;
    width: 550px;
    height: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    color: grey;
    font-family: Arial;
}

.btnFormRechercheProduit{
    display: block;
    width: 554px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #ffffff;
    background-color: #15b5f1;
    font-size: 1.0em;
    border: none;
}

.btnFormRechercheProduit:hover{
    background-color: #0199d2;
}

.tabMentionHebergeur{
    font-family: champagne-limousine, sans-serif;
}

.tabMentionHebergeur tr td{
    width: 130px;
}

.formInscrNews{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.formInscrNews label{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
}

.inputInscrNews{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1em;
    color: grey;
    padding-bottom: 3px;
    padding-top: 3px;
}

.btnValidInscrNews{
    display: block;
    width: 507px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #15b5f1;
}

.btnValidInscrNews:hover{
    background-color: #0199d2;
}

.tabCommande{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tabCommandeLigne{
    display: block;
    height: 35px;
    border-bottom: 1px solid grey;
    font-family: champagne-limousine, sans-serif;
}

.tabCommandeCellNumero{
    width: 150px;
}

.tabCommandeCellMontant{
    width: 150px;
}

.tabCommandeCellClient{
    width: 150px;
}

.tabCommandeCellDate{
    width: 200px;
}

.item{
    width: 100px;
}

.btnAfficherCommande{
    width: 90px;
    height: 30px;
    background-color: #15b5f1;
    font-family: champagne-limousine;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
}

.btnAfficherCommande:hover{
    background-color: #0199d2;
}


.btnSupprCommande{
    width: 90px;
    height: 30px;
    background-color: #E62922;
    font-family: champagne-limousine;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
}

.btnSupprCommande:hover{
    background-color: #B2312D;
}

.tableBonCommande{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tableBonCommandeLigne{
    display: block;
    font-size: 1.2em;
    font-family: champagne-limousine, sans-serif;
    border-bottom: 1px solid grey;
}

.tableBonCommandePhoto{
    width: 150px;
    text-align: center;
}

.tableBonCommandePhoto img{
    width: 150px;
    margin-left: auto;
    marogin-right:auto;
    border-radius: 5px;
}

.tableBonCommandeDesignation{
    width: 350px;
    text-align: center;
}

.tableBonCommandeDateArrivee{
    width: 150px;
    text-align: center;
}

.tableBonCommandeDateDepart{
    width: 150px;
    text-align: center;
}

.tableBonCommandeTarif{
    width: 150px;
    text-align: center;
}

.tableBonCommandeLigneTotal{
    display: block;
    width: 200px;
    float: right;
    margin-right: 0px;
}

.tableBonCommandeTotal{
    width: 100px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
}

.tableBonCommandePrix{
    width: 100px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
}

.btnReserverProduit{
    display: block;
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #15b5f1;
    color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    text-align: center;
    border: none;
    font-size: 1.4em;
}

.btnReserverProduit:hover{
    background-color: #0199d2;
}

.infoDispo{
    width: 150px;
}


.tableListeSalle{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.tableListeSalleLigne{
    display: block;
    border-bottom: 1px solid grey;
}

.tableListeSallePhoto{
    width: 200px;
}

.tableListeSallePhoto img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.tableListeSalleDesignation{
    width: 300px;
}

.tableListeSalleDetail{
    width: 100px;
}

.tableListeSalleItem a{
    display: block;
    width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0199d2;
    color: #ffffff;
    text-align: center;
}

.btnAfficherSalle{
     display: block;
     width: 90px;
     padding-top: 5px;
     padding-bottom: 5px;
     background-color: #15b5f1;
     font-family: champagne-limousine;
     color: #ffffff;
     border: none;
     font-size: 1.2em;
     text-decoration: none;
     text-align: center;
 }

.btnAfficherSalle:hover{
    background-color: #0199d2;
}

.btnSupprSalle{
    display: block;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E62922;
    font-family: champagne-limousine;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

.btnSupprSalle:hover{
    background-color: #B2312D;
}

.formAddSalle{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.labelFormAddSalle{
    display: block;
    height: 30px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1.2em;
    margin-top: 15px;
}

.btnAddSalle{
    display: block;
    width: 100%;
    height: 40px;
    font-family: champagne-limousine, sans-serif;
    color: #ffffff;
    background-color: #15b5f1;
    border: none;
    font-size: 1.2em;
    margin-top: 20px;
}

.btnAddSalle:hover{
    background-color: #0199d2;
}

.inputFormAddSalle{
    width: 100%;
    height: 25px;
    font-size: 1em;
    color: dimgrey;
}

.textareaFormAddSalle{
    width: 100%;
    height: 120px;
}

.tabListProduit{
    margin-left: auto;
    margin-right: auto;
}

.tabListProduitLigne{
    display: block;
    border-bottom: 1px solid grey;
}

.tabListProduitPhoto{
    width: 150px;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
 }

.tabListProduitPhoto img{
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.tabListProduitDesignation{
    width: 200px;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
}

.tabListProduitDate{
    width: 100px;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
    text-align: center;
}

.tabListProduitPrix{
    width: 80px;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
    text-align: center;
}

.tabListProduitDispo{
    width: 50px;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-weight: 300;
}

.btnAfficherProduit{
    display: block;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #15b5f1;
    color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

.btnAfficherProduit:hover{
    background-color: #0199d2;
}

.btnSupprProduit{
    display: block;
    width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: champagne-limousine, sans-serif;
    color: #ffffff;
    border: none;
    background-color: #E62922;
    font-size: 1em;
}

.btnSupprProduit:hover{
    background-color: #B2312D;
}

.formAddProduit{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.formAddProduitLabel{
    display: inline-block;
    width: 100px;
    font-family: champagne-limousine, sans-serif;
    margin-top: 20px;
}

.date{
    display: block;
    margin-top: 20px;
}

.formAddProduitEtat{
    display: block;
    margin-top: 20px;
}

.btnAddProduit{
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 20px;
    font-family: champagne-limousine, sans-serif;
    font-size: 1em;
    color: #ffffff;
    background-color: #15b5f1;
}

.btnAddProduit:hover {
    background-color: #0199d2;
}

.formAddProduitSelect{
    width: 280px;
}

.formAddProduitPrix{
    width: 270px;
}