@font-face {
    font-family: "champagne-limousine";
    src: url('../fonts/ChampagneLimousines.ttf');
}

@font-face {
    font-family: "champagne-limousine-bold";
    src: url('../fonts/ChampagneLimousinesBold.ttf');
}

body, html, p{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
}

.clear{
    clear: both;
}

.header_droit{
    width: 50%;
    height: 100px;
    float: left;
    margin-left: 0px;
}

.header_gauche{
    width: 50%;
    height: 100px;
    float: left;
}

#logo_header{
    display: block;
    width: 163px;
    height: 64px;
    margin-top: 18px;
    margin-left: 20px;
    background-image: url('../img/sprite.png');
    background-position: 231px -200px;
}

#logo_header span{
    display: inline-block;
    text-indent: -5000px;
}

#user_menu{
    display: block;
    float: right;
    margin-right: 0px;
    margin-top: 30px;
}

#user_menu a{
    font-family: champagne-limousine, sans-serif;
    color: #303030;
    text-decoration: none;
    font-size: 1.8em;
    color: #303030;
    margin-right: 25px;
}

#user_menu a:hover{
    color: #15b5f1;
}

.trait_separateur_bleu{
    width: 100%;
    height: 5px;
    background-color: #15b5f1;
}

.conteneur{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.contenu{
    min-height: 600px;
    margin-top: 25px;
}

.blocBlanc{
    width: 100%;
    font-family: champagne-limousine, sans-serif;
    font-size: 2.6em;
    text-align: center;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop40{
    margin-top: 40px !important;
}

.marginLeft50{
    margin-left: 50px;
}

.btnSearchAdd{
    display: block;
    width: 300px;
    float: left;
    margin-left: 141px;
    margin-top: 15px;
    font-size: 0.6em !important;
}

#btnSearchSalleAccueil{
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/sprite.png');
    background-position: 0px -200px;
}

#btnSearchSalleAccueil:hover{
    background-image: url('../img/sprite.png');
    background-position: 0px -335px;
}

#btnSearchSalleAccueil span{
    display: inline-block;
    text-indent: -5000px;
}

#btnAddSalleAccueil{
    display: block;
    width: 135px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/sprite.png');
    background-position: -134px -200px;
}

#btnAddSalleAccueil:hover{
    background-image: url('../img/sprite.png');
    background-position: -134px -335px;
}

#btnAddSalleAccueil span{
    display: inline-block;
    text-indent: -5000px;
}

.blocGris{
    width: 100%;
    min-height: 150px;
    font-family: champagne-limousine, sans-serif;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: #303030;
}

.blocGris h2{
    color: #15b5f1;
    font-size: 2.6em;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
}

.zoneAnnonce{
    width: 950px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.blocAnnonce{
    width: 198px;
    height: 350px;
    float: left;
    border: 1px solid #555555;
    border-radius: 5px;
    position: relative;
}

.blocAnnonce img{
    width: 198px;
}

.blocAnnonce h4{
    color: #15b5f1;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blocAnnonce h5{
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blocAnnonce p{
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.btnAnnonce{
    display: block;
    width: 200px;
    margin-left: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #15b5f1;
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btnAnnonce:hover{
    background-color: #0199d2;
}

.btnAnnonce a{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
}

.blocIconSociaux{
    width: 620px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#facebook{
    width: 100px;
    height: 100px;
    float: left;
    background-image: url('../img/sprite.png');
    background-position: 0px -100px;
}

#facebook:hover{
    background-position: 0px 0px;
}

#facebook span{
    display: inline-block;
    text-indent: -5000px;
}

#viadeo{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -400px -100px;
}

#viadeo:hover{
    background-position: -400px 0px;
}

#viadeo span{
    display: inline-block;
    text-indent: -5000px;
}

#twitter{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -300px -100px;
}

#twitter:hover{
    background-position: -300px 0px;
}

#twitter span{
    display: inline-block;
    text-indent: -5000px;
}

#linkedin{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -200px -100px;
}

#linkedin:hover{
    background-position: -200px 0px;
}

#linkedin span{
    display: inline-block;
    text-indent: -5000px;
}

#googleplus{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    background-image: url('../img/sprite.png');
    background-position: -100px -100px;
}

#googleplus:hover{
    background-position: -100px 0px;
}

#googleplus span{
    display: inline-block;
    text-indent: -5000px;
}

.zoneContact{
    width: 90%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blocContact{
    width: 50%;
    min-height: 150px;
    float: left;
    text-align: center;
}

.textContact{
    font-size: 0.8em !important;
}

.asterix{
    font-size: 0.3em;
}

#btnContact{
    display: block;
    width: 300px;
    background-color: #15b5f1;
    color: #ffffff;
    font-size: 0.5em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-decoration: none;
}

#btnContact:hover{
    background-color: #0199d2;
}

.traitFormInscr{
    width: 486px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a1a1a1;
    margin-top: 10px;
}

.btnValidationInscription{
    display: block;
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #15b5f1;
    border: none;
    color:#ffffff;
    font-size: 1em;
    font-family: champagne-limousine, sans-serif;
}

.btnValidationInscription:hover{
    background-color: #0199d2;
}

.backLeftFormInscr{
    width: 450px;
    height: 550px;
    background-color: #15b5f1;
    float: left;
    margin-top: 30px;
}

.leftFormInfo{
    width: 448px;
    height: 182px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    font-family: champagne-limousine, sans-serif;
    font-size: 2em;
}

.hautFormInscr{
    width: 100%;
    height: 128px;
    background-image: url('../img/bandeauforminscr.png');
}

.publeft{
    width: 135px;
    height: 135px;
    float: left;
    margin-top: 23px;
}

.pubright{
    width: 313px;
    height: 182px;
    float: left;
    text-align: center;
}

.pubright p{
    width: 307px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.backForm{
    width: 548px;
    height: 550px;
    border: 1px solid #c1c1c1;
    opacity: 1;
    float: left;
    margin-left: 24px;
    margin-top: 30px;
}

.backForm h1{
    background-color: #15b5f1;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.formInscription{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    font-family: champagne-limousine, sans-serif;
}

.groupForm{
    width: 100%;
    height: 15px;
    display: block;
    margin-top: 10px;
}

.groupForm select{
    width: 310px;
    margin-left: 0px;
}

.labelFormInscr{
    display: block;
    width: 180px;
    float: left;
    margin-left: 10px;
    color: #303030;
}

.inputFormInscr{
    display: block;
    width: 300px;
    height: 20px;
    font-size: 1em;
    float: left;
    border-style: none;
    background-color: #f7f7f7;
    font-family: Arial;
    color: #777777;
}

.titreFormInscr{
    font-family: champagne-limousine, sans-serif;
    text-align: center;
}

footer{
    height: 150px;
    width: 100%;
    margin-top: 50px;
    background-color: #303030;
}

.footerLeft{
    width: 340px;
    height: 150px;
    float: left;
    text-align: center;
}

.logoFooter{
    width: 121px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-image: url("../img/sprite.png");
    background-position: -264px -270px;
}

.footerLeft p{
    color: #ffffff;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    margin-top: 10px;
    font-size: 0.8em;
}

.footerLeft a{
    text-decoration: none;
    font-family: champagne-limousine, sans-serif;
    color: #ffffff;
    font-size: 0.8em;
}

.footerRight{
    width: 684px;
    height: 150px;
    float: left;
}

.blocHautFooter{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.blocHautFooter a{
    display: inline-block;
    color: #b0b0b0;
    text-decoration: none;
    font-family: champagne-limousine, sans-serif;

}

.blocBasFooter{
    color: #b0b0b0;
    text-align: center;
    margin-top: 20px;
    font-family: champagne-limousine, sans-serif;
}

.footerRight a:hover{
    color: #15b5f1;
}

.msg{
    width: 100%;
    min-height: 60px;
}

.msgSuccess{
    width: 1024px;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    font-family: Arial;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #3c763d;
}

.msgWarning{
    width: 1024px;
    border-radius: 5px;
    background-color: #fcf8e3;
    color: #8a6d3b;
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #8a6d3b;
    margin-bottom: 10px;
}

.msgAlert{
    width: 1024px;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a9445d;
    font-family: Arial;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #a9445d;
    margin-bottom: 10px;
}

.msgInfo{
    width: 1024px;
    border-radius: 5px;
    background-color: #d9edf7;
    color: #31708f;
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.loupeFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/sprite.png');
    background-position: 0px -335px;
}

.sourieFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/sourie.png');
}

.paiementFormInscr{
    display: block;
    width: 135px;
    height: 135px;
    background-image: url('../img/paiement.png');
}

.formConnect{
    width: 100%;
    font-family: champagne-limousine, sans-serif;
}

.formConnect label{
    display: block;
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

.formConnect input{
    display: block;
    width: 500px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1em;
    font-family: arial, sans-serif;
}

.menuUserConnected{
    width: 100%;
    height: 35px;
    background-color: #15b5f1;
    margin-top: -17px;
}

.menuUserConnected .conteneur ul{
    padding: 0;
    margin-top: -7px;
}

.menuUserConnected .conteneur ul li{
    list-style-type: none;
    float: left;
    width: 250px;
    text-align: center;
}

.menuUserConnected .conteneur ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5.5px;
    display: block;

    font-family: champagne-limousine, sans-serif;
    font-size: 1.4em;
    margin-top: -3px;
}
.menuUserConnected .conteneur ul li a:hover{
    background-color: #303030;
    color: #15b5f1;
}
.ficheContenair{
    width: 100%;
}

.ficheContenairLeft{
    width: 450px;
    float: left;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
}

.ficheContenairLeft img{
    width: 450px;
    float: left;
    border-radius: 5px;
    border: 1px solid #303030;
}

.ficheContenairRight{
    width: 547px;
    font-family: champagne-limousine, sans-serif;
    float: left;
    margin-left: 25px;
}

.ficheContenairRightTop{
    width: 100%;
    display: block;
    min-height: 175px;
    border-bottom: 1px solid #15b5f1;
}

.ficheContenairRightMiddle{
    width: 100%;
    min-height: 100px;
    display: block;
}
.ficheContenair h1{
    width: 100%;
    text-align: center;
    font-family: champagne-limousine, sans-serif;
    font-size: 2em;
    font-weight: 400;
    border-bottom: 1px solid #15b5f1;
}

.info{
    width: 100%;
}

.info tr{
    width: 100%;
}

.infoLibelle{
    width: 90px;
}

.infoValeur{
    width: 200px;
}

.btnAddPanier{
    width: 100%;
    height: 40px;
    background-color: #15b5f1;
    color: #ffffff;
    font-size: 1.3em;
    font-family: champagne-limousine, sans-serif;
    border: none;
}

.btnAddPanier:hover{
    background-color: #0199d2;
}